<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="flintstones.elements.category"
            name="%element.category.name">
      </category>
      <view
            allowMultiple="true"
            category="flintstones.elements.category"
            class="sinbad2.element.ui.view.alternatives.AlternativesView"
            icon="icons/alternatives_22x22.png"
            id="flintstones.element.ui.view.alternatives"
            name="%view.alternatives"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="flintstones.elements.category"
            class="sinbad2.element.ui.view.criteria.CriteriaView"
            icon="icons/criteria_22x22.png"
            id="flintstones.element.ui.view.criteria"
            name="%view.criteria"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="flintstones.elements.category"
            class="sinbad2.element.ui.view.campaigns.CampaignsView"
            icon="icons/logo_dgt.png"
            id="flintstones.element.ui.view.campaigns"
            name="%view.campagins.name"
            restorable="true">
      </view>
      <view
            category="flintstones.elements.category"
            class="sinbad2.element.ui.view.mecs.MECView"
            icon="icons/mec_22x22.png"
            id="flintstones.element.ui.view.mecs"
            name="%view.mes.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="flintstones.element.ui.view.alternatives.alternatives_view"
            name="%context.alternatives"
            parentId="flintstones.core.ui">
      </context>
      <context
            id="flintstones.element.ui.view.criteria.criteria_view"
            name="%context.criteria"
            parentId="flintstones.core.ui">
      </context>
      <context
            id="flintstones.element.ui.view.campaigns.campaigns_view"
            name="%context.campaign.name"
            parentId="flintstones.core.ui">
      </context>
      <context
            id="flintstones.element.ui.view.mecs.mecs_view"
            name="%context.mes.name"
            parentId="flintstones.core.ui">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="flintstones.element.command.category"
            name="%category.name">
      </category>
      <command
            categoryId="flintstones.element.command.category"
            id="flintstones.element.alternative.selectAll"
            name="%command.alternative.selectAll">
      </command>
      <command
            categoryId="flintstones.element.command.category"
            id="flintstones.element.alternative.deselectAll"
            name="%command.alternative.deselectAll">
      </command>
      <command
            id="flintstones.element.criterion.selectAll"
            name="%command.criterion.selectAll">
      </command>
      <command
            id="flintstones.element.criterion.deselectAll"
            name="%command.crtierion.deselectAll">
      </command>
      <command
            id="flintstones.element.campaign.selectAll"
            name="%command.campaign.selectAll">
      </command>
      <command
            id="flintstones.element.campaign.deselectAll"
            name="%command.campaign.deselectAll">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="flintstones.element.alternative.selectAll"
            icon="icons/select_all.png">
      </image>
      <image
            commandId="flintstones.element.alternative.deselectAll"
            icon="icons/uncheck.png">
      </image>
      <image
            commandId="flintstones.element.criterion.selectAll"
            icon="icons/select_all.png">
      </image>
      <image
            commandId="flintstones.element.criterion.deselectAll"
            icon="icons/uncheck.png">
      </image>
      <image
            commandId="flintstones.element.campaign.selectAll"
            icon="icons/select_all.png">
      </image>
      <image
            commandId="flintstones.element.campaign.deselectAll"
            icon="icons/uncheck.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="sinbad2.element.ui.handler.alternative.select.SelectAllAlternativeHandler"
            commandId="flintstones.element.alternative.selectAll">
      </handler>
      <handler
            class="sinbad2.element.ui.handler.alternative.select.DeselectAllAlternativeHandler"
            commandId="flintstones.element.alternative.deselectAll">
      </handler>
      <handler
            class="sinbad2.element.ui.handler.criterion.select.SelectAllCriterionHandler"
            commandId="flintstones.element.criterion.selectAll">
      </handler>
      <handler
            class="sinbad2.element.ui.handler.criterion.select.DeselectAllCriterionHandler"
            commandId="flintstones.element.criterion.deselectAll">
      </handler>
      <handler
            class="sinbad2.element.ui.handler.campaign.select.SelectAllCampaignHandler"
            commandId="flintstones.element.campaign.selectAll">
      </handler>
      <handler
            class="sinbad2.element.ui.handler.campaign.select.DeselectAllCampaignHandler"
            commandId="flintstones.element.campaign.deselectAll">
      </handler>
   </extension>

</plugin>
